# For the Telegram Chatbot:
fastapi==0.95.2
pydantic==1.10.9  # or another compatible 1.x version
python-telegram-bot==13.3
requests==2.28.2


# For the Streamlit website:
streamlit==1.27.2
streamlit_autorefresh==1.0.1


# For both the Telegram Chatbot and Streamlit website:
pymysql==1.1.1
